* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    color: white;
}

h3 {
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: 131720;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    display: flexbox;
    width: 100%;
    min-width: 200;
    min-height: 200px;
    border-radius: 19px;
}

.column {
    display: flexbox;
    float: left;
    width: 25%;
    height: auto;
    padding: 5px 5px;
}

.card {
    border-radius: 19px;
    padding: 11px;
    font-size: 0.6rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: #151f30;
}

#revlink {
    color: #fff;
    font-size: 18px;
}

#revlink a:link {
    font-style: normal;
    color: #fff;
    font-size: 16px;
}

#revlink a:visited{
    font-style: normal;
    color: gray;
    font-size: 16px;
}

#revlink a:hover{
    font-style: normal;
    color:greenyellow;
    font-size: 16px;
}